html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar {
    order: 1;
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
    }

    .content1,
    .content2 {
        flex: 1;
    }
}

@media (min-width: 1200px) {
    .contenedor {
        flex-direction: row;
    }

    main {
        flex: 3;
        order: 0;
    }

    .sidebar {
        flex: 1;
        order: 1;
    }
}